<%= render 'shared/navbar' %>
<div class="forum-container">
    <% if @forums != nil %>
            <% @forums.each do |forum| %>
        <div class="forum-div-link m-2">
            <span class="forum-title ml-1">
            <a href="/forums/<%=forum.id%>"></a>
                <%= forum.title if forum.title %> <span class="forum-master"> By :<%= User.find(forum.user_id).user_name%></span>
            </span>
            <p class="forum-date ml-1">
               <%= forum.updated_at %>
            </p>
                <% if Post.find_by(forum_id: forum.id) %>
                    <p class="ml-1" > 書き込み：<%= Post.where(forum_id: forum.id).count %>件</p>
                <% else%>
                    <p class="ml-1"> まだ何も書き込みがありません</p>
                <% end %>
        </div>           
            <% end %>
    <% end %>
    <div class="m-2" id="new-forum-btn">
        <%= link_to "新しいスレッドを作る", forums_new_path %>
    </div>
    <br>
</div>