<%= render 'shared/navbar' %>
<div class="forum-container">
    <% if @forums != nil %>
            <% @forums.each do |forum| %>
            <div class="forum-title ml-1">
                <%= link_to forum.title, forum_path(forum) %> <span class="forum-master"> By :<%= User.find(forum.user_id).user_name%></span>
            </div>
            <div class="forum-date ml-1">
               <%= forum.updated_at %>
            </div>
                <% if Post.find_by(forum_id: forum.id) %>
                <p>書き込み：<%= Post.where(forum_id: forum.id).count %>件</p>
                <% else%>
                <p>まだ何も書き込みがありません</p>
                <% end %>                
            <% end %>
    <% end %>
<%= link_to "新しいスレッドを作る", forums_new_path %>
</div>