<%= render 'shared/navbar' %>
<ul> 
    <% @forums.each do |forum| %>
        <li>
        <%= forum.title %>
        <%= Post.find_by(forum_id: forum.id).count %>
        <%= forum.updated_at %>
        <p> created by :<%= User.find(forum.user_id)%></p>
        </li>
    <% end %>
</ul>