<%= render 'shared/navbar' %>
<h3><%= @forum.title %><h3>

<% if @posts == nil %>
<br>
    <p> まだエントリーがありません　</p>
<% else %>
<br>
    <ul> 
        <% @posts.each do |post| %>
            <li>
            <%= User.find(post.user_id)%>
            <%= post.title %>
            <%= post.comment %>
            <%= post.updated_at %>
            </li>
        <% end %>
    </ul>
<% end %>
<div class="container form_box">
    <%= simple_form_for @post do |f| %>
        <p>タイトル</p>
        <%= f.input :title, label: false, placeholder: "タイトル" ,class: "mr-5 mb-3" %>
        <p>書き込み</p>
        <%= f.text_area :comment, label: false, placeholder: "書き込み内容", class: "form_box_text_area" %>
        <%= f.button :submit, "新しいスレッド", class: 'btn btn-primary' %>
    <% end %>
</div>
