<div class="cards-container">
  <ul class="cards-list">
     <% @subtitle.blocks.sort_by { |block| block.created_at }.each do |block| %>
      <li class="cards-list-item mt-3 mb-3">
        <span class="timestamp" style="display: none"><%= block.start_timestamp %></span>
        <div class="checkbox">
          <span class="results-cards m-0">
            <span class="checkbox-container mr-3">
              <input id="checkbox-<%= block.id %>" type="checkbox" name ="block_ids[]" class="block-checkbox" value="<%= block.id %>" >
              <label for="checkbox-<%= block.id %>" class="checkbox-label"></label>
            </span>
            <p>
              <%= block.sentence %>
            </p>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
