<%= render 'shared/navbar' %>
<div class="ml-2 mb-3" id="video_title">
  <h2><%= @subtitle.video_title %></h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= render 'video' %>
        <div class="d-flex ml-2 mb-5">
         <div class="container-fluid">
            <div class="row d-flex justify-content-between side_bar">
              <% if @subtitle.language !=nil %>
              <%= render 'add_another_button' %>
              <% else %>
              <%= render 'add_button' %>
              <% end %>
              <%= render 'converter' %>
              <%= render 'select_all' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= render 'subtitles' %>
    </div>
  </div>
</div>

