<%= render 'shared/navbar' %>
<div class="ml-2 mb-3" id="video_title">
  <h2><%= @subtitle.video_title %></h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <%= render 'video' %>
    </div>
    <div class="col-md-5">
      <%= render 'subtitles' %>
    </div>
    <div class="col-md-2 col-sm-2 text-lefts">
      <%= render 'add_button' %>
      <%= render 'converter' %>
      <%= render 'select_all' %>
    </div>
  </div>
</div>

