<%= render 'shared/navbar' %>
<% if @translation.errors.any? %>
<div class="alert">
  <ul>
    <% @translation.errors.full_messages.each do |message| %>
    <li class=""><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
<div class="ml-2 mb-3" id="video_title">
  <h2><%= @translation.video_title %></h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 position-sticky">
      <%= render 'trans_video' %>
      <div class="text-lefts ml-2 mb-5 side_bar">
        <div class="container-fluid">
          <div class="row">
            <%= render 'trans_select_all' %>
            <%= render 'trans_converter' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-8">
      <%= render 'trans_subtitles' %>
    </div>
  </div>
</div>
