<%= render 'shared/navbar' %>
<div class="main">
  <div class="mb-3">
    <h1 class="text-center">Yod-langへようこそ。</h1>
    <h2 class="text-center">Youtubeの字幕を使って語学</h2>
  </div>
  <div class="container">
    <div class="box">
        <%= simple_form_for @subtitle do |f| %>
    <div class="row ml-2 language-choice">
      <h4 class="ml-5 mr-2 mb-3 block"><strong>言語を選択:</strong></h4>
      <%= select_tag "language",  options_for_select(["日本語(ja)", "英語(en)", "ロシア語(ru)", "ウズベク語(uz)", "フランス語(fr)"], "en"), class: "mr-5 mb-3" %>
    </div>
          <div class="row ml-5 mr-5 url_input">
            <%= f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 m-1'}, input_html: {class: 'h-100'}, placeholder: 'https://www.youtube.com/watch?v=video_id' %>
            <% params[:url_id] = "#{params[:video_id]}(#{params[:language]})" %>
            <%= f.button :submit, "字幕を取得", class: 'h-100 btn btn-primary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
