<%= render 'shared/navbar' %>
<div class="main">
  <div class="mb-3">
    <h1 class="text-center">Yod-langへようこそ。</h1>
  </div>
   <div class="container">
    <div class="box">
        <%= simple_form_for @subtitle do |f| %>
    <div class="row ml-2 language-choice">
      <h4 class="ml-5 mr-2 mb-3 block"><strong>言語を選択:</strong></h4>
      <%= select_tag "language",  options_for_select(["英語(en)", "ロシア語(ru)", "ウズベク語(uz)","ブルトン語(br)", "フランス語(fr)", "日本語(ja)" ], "en"), class: "mr-5 mb-3" %>
    </div>
          <div class="row ml-5 mr-5 url_input" id="input_bar">
            <%= f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 m-1'}, input_html: {class: 'h-100'}, placeholder: 'https://www.youtube.com/watch?v=video_id' %>
            <div id="sub_getter">
            <%= f.button :submit, "字幕を取得", class: 'h-100 btn btn-primary' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="text-center">
    <div class="lds-roller loading-show" id="loading"><strong>Loading...</strong></div>
  </div>
</div>
<script>
  const sub_getter_element = document.getElementById('sub_getter');
  const loading_element = document.getElementById('loading');

  sub_getter_element.addEventListener('click', () => {
    loading_element.removeAttribute('id');
  })
  sub_getter_element.addEventListener('keydown', () => {
    if(event.key === 'Enter') {
      loading_element.removeAttribute('id');
      }})
</script>
